a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  color: black;
  padding: "10px";
}

.none-a {
  background-color: teal !important ;
  color: white !important;
  border-radius: 5px;
}
.file-upload {
  height: 100px;
}

.upload-image {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-links a:hover {
  background-color: #dcdcdc;
  color: black !important;
  padding: 10px;
}
.nav-links span:hover {
  background-color: #dcdcdc;
  padding: 10px;
}

.post-area {
  border-style: ridge;
}

.searchbar {
  width: 200px;
}

.dropdown-content {
  display: none;
}

.show {
  cursor: pointer;
  display: block;
  background-color: beige;
  text-align: center;
  margin: 15px 0 15px;
  padding: 5px 0 5px;
}

.input-search {
  border-radius: 5px;
  padding: 5px;
}

.modal {
  background-color: transparent;
}

.fa-trash-o {
  font-size: 24px;
}

.profile-menu-links {
  cursor: pointer;
}

.profile-menu-links-selected {
  color: orange;
  font-weight: 400;
}
