a:link {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: red;
}

.file-upload {
  height: 100px;
}

.upload-image {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
