a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  color: black;
  padding: "10px";
}

.none-a {
  background-color: teal !important ;
  color: white !important;
  border-radius: 5px;
}
.file-upload {
  height: 100px;
}

.upload-image {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-links a:hover {
  background-color: #dcdcdc;
  color: black !important;
  padding: 10px;
}
.nav-links span:hover {
  background-color: #dcdcdc;
  padding: 10px;
}

.post-area {
  border-style: ridge;
}

.searchbar {
  width: 200px;
}

.dropdown-content {
  display: none;
}

.show {
  cursor: pointer;
  display: block;
  background-color: beige;
  text-align: center;
  margin: 15px 0 15px;
  padding: 5px 0 5px;
}

.input-search {
  border-radius: 5px;
  padding: 5px;
}

.modal {
  background-color: transparent;
}

.fa-trash-o {
  font-size: 24px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 600px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
